<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">

<body>
	<th:block layout:fragment="content">
		<!-- Modal Search Start -->
		<div class="modal fade" id="searchModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-fullscreen">
				<div class="modal-content rounded-0">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Search by
							keyword</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body d-flex align-items-center">
						<div class="input-group w-75 mx-auto d-flex">
							<input type="search" class="form-control p-3"
								placeholder="keywords" aria-describedby="search-icon-1">
							<span id="search-icon-1" class="input-group-text p-3"><i
								class="fa fa-search"></i></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal Search End -->


		<!-- Single Page Header start -->
		<div class="container-fluid page-header py-5">
			<h1 class="text-center text-white display-6">Shop</h1>
			<ol class="breadcrumb justify-content-center mb-0">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item"><a href="#">Pages</a></li>
				<li class="breadcrumb-item active text-white">Shop</li>
			</ol>
		</div>
		<!-- Single Page Header End -->


		<!-- Fruits Shop Start-->
		<div class="container-fluid fruite py-5">
			<div class="container py-5">
				<h1 class="mb-4">Fresh fruits shop</h1>
				<div class="row g-4">
					<div class="col-lg-12">
						<div class="row g-4">
							<div class="col-xl-3">
								<form method="GET" th:action="@{/shops}" id="frm">
									<input type="hidden" id="ciNum" name="ciNum"
										th:value="${param.ciNum}">
									<div class="input-group w-100 mx-auto d-flex">
										<input type="search" id="searchStr" name="searchStr"
											class="form-control p-3" placeholder="keywords"
											aria-describedby="search-icon-1"
											th:value="${param.searchStr}"> <span
											class="input-group-text p-3" style="cursor: pointer"
											onclick="$('#frm')[0].submit()"><i
											class="fa fa-search"></i></span>
									</div>
							</div>
							<div class="col-6"></div>
							<div class="col-xl-3">
								<div
									class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
									<label for="fruits">Default Sorting:</label><select name="sort"
										id="sort" onchange="this.form.submit()">
										<option value="1"
											th:selected="${param?.sort?.toString() == '1'}">최신순</option>
										<option value="2"
											th:selected="${param?.sort?.toString() == '2'}">가격
											높은순</option>
										<option value="3"
											th:selected="${param?.sort?.toString() == '3'}">가격
											낮은순</option>
										<option value="4"
											th:selected="${param?.sort?.toString() == '4'}">등록순</option>
									</select>
								</div>
							</div>

						</div>
						<div class="row g-4">
							<div class="col-lg-3">
								<div class="row g-4">
									<div class="col-lg-12">
										<div class="mb-3">
											<h4>Categories</h4>
											<ul class="list-unstyled fruite-categorie">
												<li th:each="category : ${categories}">
													<div class="d-flex justify-content-between fruite-name">
														<a href="javascript:void(0)"
															onclick="searchCategory(this)"
															th:data-ci-num="${category.ciNum}"><i
															class="fas fa-apple-alt me-2"></i> <span
															th:text="${category.ciName}"
															th:style="${param.ciNum?.toString()==#strings.toString(category.ciNum)?'color:red':''}">Apples</span></a>

														<span th:text="'(' + ${category.ciCnt} + ')'">(3)</span>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="mb-3">
											<h4 class="mb-2">Price</h4>
											<input type="range" class="form-range w-100"
												name="piPriceRange" id="piPriceRange" min="0" max="100000"
												value="0" step="100"
												th:value="${param.piPriceRange == null?'0':param.piPriceRange}"
												onchange="$('#divPrice').html(this.value)"> <span
												id="divPrice" th:text="${param.piPriceRange}">0</span>
										</div>
									</div>
									</form>
									<div class="col-lg-12">
										<div class="mb-3">
											<h4>Additional</h4>
											<div class="mb-2">
												<input type="radio" class="me-2" id="Categories-1"
													name="Categories-1" value="Beverages"> <label
													for="Categories-1"> Organic</label>
											</div>
											<div class="mb-2">
												<input type="radio" class="me-2" id="Categories-2"
													name="Categories-1" value="Beverages"> <label
													for="Categories-2"> Fresh</label>
											</div>
											<div class="mb-2">
												<input type="radio" class="me-2" id="Categories-3"
													name="Categories-1" value="Beverages"> <label
													for="Categories-3"> Sales</label>
											</div>
											<div class="mb-2">
												<input type="radio" class="me-2" id="Categories-4"
													name="Categories-1" value="Beverages"> <label
													for="Categories-4"> Discount</label>
											</div>
											<div class="mb-2">
												<input type="radio" class="me-2" id="Categories-5"
													name="Categories-1" value="Beverages"> <label
													for="Categories-5"> Expired</label>
											</div>
										</div>
									</div>
									<div class="col-lg-12">
										<h4 class="mb-3">Featured products</h4>
										<div class="d-flex align-items-center justify-content-start">
											<div class="rounded me-4"
												style="width: 100px; height: 100px;">
												<img th:src="@{/img/featur-1.jpg}" class="img-fluid rounded"
													alt="">
											</div>
											<div>
												<h6 class="mb-2">Big Banana</h6>
												<div class="d-flex mb-2">
													<i class="fa fa-star text-secondary"></i> <i
														class="fa fa-star text-secondary"></i> <i
														class="fa fa-star text-secondary"></i> <i
														class="fa fa-star text-secondary"></i> <i
														class="fa fa-star"></i>
												</div>
												<div class="d-flex mb-2">
													<h5 class="fw-bold me-2">2.99 $</h5>
													<h5 class="text-danger text-decoration-line-through">4.11
														$</h5>
												</div>
											</div>
										</div>
										<div class="d-flex align-items-center justify-content-start">
											<div class="rounded me-4"
												style="width: 100px; height: 100px;">
												<img th:src="@{/img/featur-2.jpg}" class="img-fluid rounded"
													alt="">
											</div>
											<div>
												<h6 class="mb-2">Big Banana</h6>
												<div class="d-flex mb-2">
													<i class="fa fa-star text-secondary"></i> <i
														class="fa fa-star text-secondary"></i> <i
														class="fa fa-star text-secondary"></i> <i
														class="fa fa-star text-secondary"></i> <i
														class="fa fa-star"></i>
												</div>
												<div class="d-flex mb-2">
													<h5 class="fw-bold me-2">2.99 $</h5>
													<h5 class="text-danger text-decoration-line-through">4.11
														$</h5>
												</div>
											</div>
										</div>
										<div class="d-flex align-items-center justify-content-start">
											<div class="rounded me-4"
												style="width: 100px; height: 100px;">
												<img th:src="@{/img/featur-3.jpg}" class="img-fluid rounded"
													alt="">
											</div>
											<div>
												<h6 class="mb-2">Big Banana</h6>
												<div class="d-flex mb-2">
													<i class="fa fa-star text-secondary"></i> <i
														class="fa fa-star text-secondary"></i> <i
														class="fa fa-star text-secondary"></i> <i
														class="fa fa-star text-secondary"></i> <i
														class="fa fa-star"></i>
												</div>
												<div class="d-flex mb-2">
													<h5 class="fw-bold me-2">2.99 $</h5>
													<h5 class="text-danger text-decoration-line-through">4.11
														$</h5>
												</div>
											</div>
										</div>
										<div class="d-flex justify-content-center my-4">
											<a href="#"
												class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Vew
												More</a>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="position-relative">
											<img th:src="@{/img/banner-fruits.jpg}"
												class="img-fluid w-100 rounded" alt="">
											<div class="position-absolute"
												style="top: 50%; right: 10px; transform: translateY(-50%);">
												<h3 class="text-secondary fw-bold">
													Fresh <br> Fruits <br> Banner
												</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-9">
								<div class="row g-4 justify-content-center">
									<div class="col-md-6 col-lg-6 col-xl-4"
										th:each="product: ${products.list}">
										<div class="rounded position-relative fruite-item">
											<div class="fruite-img">
												<img th:src="@{/files/__${product.piImgPath}__}"
													class="img-fluid w-100 rounded-top" alt="">
											</div>
											<div
												class="text-white bg-secondary px-3 py-1 rounded position-absolute"
												style="top: 10px; left: 10px;">Fruits</div>
											<div
												class="p-4 border border-secondary border-top-0 rounded-bottom">
												<h4 th:text="${product.piName}">Grapes</h4>
												<p th:text="${product.piDesc}">Lorem ipsum dolor sit
													amet consectetur adipisicing elit sed do eiusmod te
													incididunt</p>
												<div class="d-flex justify-content-between flex-lg-wrap">
													<p class="text-dark fs-5 fw-bold mb-0">
														<span th:text="${product.piPrice}">$4.99 / kg</span>
													</p>
													<a href="#"
														class="btn border border-secondary rounded-pill px-3 text-primary"><i
														class="fa fa-shopping-bag me-2 text-primary"></i> Add to
														cart</a>
												</div>
											</div>
										</div>
									</div>
									<div class="pagination d-flex justify-content-center mt-5">
										<a href="javascript:void(0);" onclick="goPage(this)"
											th:data-num="${products.pageNum-1}" class="rounded"
											th:if="${products.pageNum!=1}">&laquo;</a>
										<th:block
											th:each="num : ${#numbers.sequence(1,__${products.pages}__)}">
											<a href="javascript:void(0);" onclick="goPage(this)"
												th:data-num="${num}" class="rounded"
												th:classappend="${products.pageNum==num?'active':''}"
												th:text="${num}"></a>
										</th:block>
										<a href="javascript:void(0);" onclick="goPage(this)"
											th:data-num="${products.pageNum+1}" class="rounded"
											th:if="${products.pageNum!=1}">&raquo;</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Fruits Shop End-->
		<script>
			function goPage(obj) {
				location.href = rootPath + 'shops?pageNum='
						+ obj.getAttribute('data-num') + '&searchStr='
						+ $('#searchStr').val() + '&sort=' + $('#sort').val()
						+ '&piPriceRange=' + $('#piPriceRange').val();
			}
			function searchCategory(obj) {
				const ciNum = obj.getAttribute('data-ci-num');
				document.querySelector('#ciNum').value = ciNum;
				document.querySelector('#frm').submit();
			}
		</script>
	</th:block>
</body>

</html>