<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block th:fragment="fruitsshop">
<!-- Fruits Shop Start-->
    <div class="container-fluid fruite py-5">
      <div class="container py-5">
        <div class="tab-class text-center">
          <div class="row g-4">
            <div class="col-lg-4 text-start">
              <h1>Our Organic Products</h1>
            </div>
            <div class="col-lg-8 text-end">
              <ul class="nav nav-pills d-inline-flex text-center mb-5">
                <li class="nav-item">
                	<a th:class="${'d-flex m-2 py-2 bg-light rounded-pill' + (param.ciNum==null? 'active' :'')}" th:href=@{/}>
                		<span class="text-dark" style="width: 130px;">All Products</span>
                	</a>
               	</li>
                <li class="nav-item" th:each="category : ${categories}">
                <a th:class="${'d-flex py-2 m-2 bg-light rounded-pill' + (#strings.equals(param.ciNum,category.ciNum)?'active':'')}" th:href="@{/?ciNum=__${category.ciNum}__}">
                <span class="text-dark" style="width: 130px;" th:text="${category.ciName}"></span>
               	  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
              <div class="row g-4">
                <div class="col-lg-12">
                  <div class="row g-4">
                    <th:block th:each="product : ${products}">
                    <div class="col-md-6 col-lg-4 col-xl-3">
                      <div class="rounded position-relative fruite-item" style="cursor:pointer"
                      onclick="goPage(this, '/shop-detail')" th:data-pi-num="${product.piNum}"> 
                        <div class="fruite-img">
                        <!--  th:src="@{/files/}" => /files/ + ${product.piImgPath} -->
                          <img th:src="@{/files/__${product.piImgPath}__}" 
                            class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div
                          class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                          style="top: 10px; left: 10px;"th:text="${product.ciName}"></div>
                        <div
                          class="p-4 border border-secondary border-top-0 rounded-bottom">
                          <h4 th:text="${product.piName}">Grapes</h4>
                          <p th:text="${#strings.length(product.piDesc)>50?#strings.substring(product.piDesc,0,49) + '...' : product.piDesc}">
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing elit sed do eiusmod te
                            incididunt
                          </p>
                          <div
                            class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">
                            <span th:text="${product.piPrice}"></span>원 / <span th:text="${product.piUnit}"></span></p>
                            <a th:if="${session.user !=null}" th:href="${'javascript:void(0);addCart(' + product.piNum +')'}"
                              class="btn border border-secondary rounded-pill px-3 text-primary"><i
                              class="fa fa-shopping-bag me-2 text-primary"></i>
                              Add to cart</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    </th:block>
                  </div>
                </div>
              </div>
            </div>
            <div id="tab-2" class="tab-pane fade show p-0">
              <div class="row g-4">
                <div class="col-lg-12">
                  <div class="row g-4">
                    <div class="col-md-6 col-lg-4 col-xl-3">
                      <div class="rounded position-relative fruite-item">
                        <div class="fruite-img">
                          <img src="img/fruite-item-5.jpg"
                            class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div
                          class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                          style="top: 10px; left: 10px;">Fruits</div>
                        <div
                          class="p-4 border border-secondary border-top-0 rounded-bottom">
                          <h4>Grapes</h4>
                          <p>Lorem ipsum dolor sit amet consectetur
                            adipisicing elit sed do eiusmod te
                            incididunt</p>
                          <div
                            class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">$4.99
                              / kg</p>
                            <a href="#"
                              class="btn border border-secondary rounded-pill px-3 text-primary"><i
                              class="fa fa-shopping-bag me-2 text-primary"></i>
                              Add to cart</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                      <div class="rounded position-relative fruite-item">
                        <div class="fruite-img">
                          <img src="img/fruite-item-2.jpg"
                            class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div
                          class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                          style="top: 10px; left: 10px;">Fruits</div>
                        <div
                          class="p-4 border border-secondary border-top-0 rounded-bottom">
                          <h4>Raspberries</h4>
                          <p>Lorem ipsum dolor sit amet consectetur
                            adipisicing elit sed do eiusmod te
                            incididunt</p>
                          <div
                            class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">$4.99
                              / kg</p>
                            <a href="#"
                              class="btn border border-secondary rounded-pill px-3 text-primary"><i
                              class="fa fa-shopping-bag me-2 text-primary"></i>
                              Add to cart</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="tab-3" class="tab-pane fade show p-0">
              <div class="row g-4">
                <div class="col-lg-12">
                  <div class="row g-4">
                    <div class="col-md-6 col-lg-4 col-xl-3">
                      <div class="rounded position-relative fruite-item">
                        <div class="fruite-img">
                          <img src="img/fruite-item-1.jpg"
                            class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div
                          class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                          style="top: 10px; left: 10px;">Fruits</div>
                        <div
                          class="p-4 border border-secondary border-top-0 rounded-bottom">
                          <h4>Oranges</h4>
                          <p>Lorem ipsum dolor sit amet consectetur
                            adipisicing elit sed do eiusmod te
                            incididunt</p>
                          <div
                            class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">$4.99
                              / kg</p>
                            <a href="#"
                              class="btn border border-secondary rounded-pill px-3 text-primary"><i
                              class="fa fa-shopping-bag me-2 text-primary"></i>
                              Add to cart</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                      <div class="rounded position-relative fruite-item">
                        <div class="fruite-img">
                          <img src="img/fruite-item-6.jpg"
                            class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div
                          class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                          style="top: 10px; left: 10px;">Fruits</div>
                        <div
                          class="p-4 border border-secondary border-top-0 rounded-bottom">
                          <h4>Apple</h4>
                          <p>Lorem ipsum dolor sit amet consectetur
                            adipisicing elit sed do eiusmod te
                            incididunt</p>
                          <div
                            class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">$4.99
                              / kg</p>
                            <a href="#"
                              class="btn border border-secondary rounded-pill px-3 text-primary"><i
                              class="fa fa-shopping-bag me-2 text-primary"></i>
                              Add to cart</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="tab-4" class="tab-pane fade show p-0">
              <div class="row g-4">
                <div class="col-lg-12">
                  <div class="row g-4">
                    <div class="col-md-6 col-lg-4 col-xl-3">
                      <div class="rounded position-relative fruite-item">
                        <div class="fruite-img">
                          <img src="img/fruite-item-5.jpg"
                            class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div
                          class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                          style="top: 10px; left: 10px;">Fruits</div>
                        <div
                          class="p-4 border border-secondary border-top-0 rounded-bottom">
                          <h4>Grapes</h4>
                          <p>Lorem ipsum dolor sit amet consectetur
                            adipisicing elit sed do eiusmod te
                            incididunt</p>
                          <div
                            class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">$4.99
                              / kg</p>
                            <a href="#"
                              class="btn border border-secondary rounded-pill px-3 text-primary"><i
                              class="fa fa-shopping-bag me-2 text-primary"></i>
                              Add to cart</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                      <div class="rounded position-relative fruite-item">
                        <div class="fruite-img">
                          <img src="img/fruite-item-4.jpg"
                            class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div
                          class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                          style="top: 10px; left: 10px;">Fruits</div>
                        <div
                          class="p-4 border border-secondary border-top-0 rounded-bottom">
                          <h4>Apricots</h4>
                          <p>Lorem ipsum dolor sit amet consectetur
                            adipisicing elit sed do eiusmod te
                            incididunt</p>
                          <div
                            class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">$4.99
                              / kg</p>
                            <a href="#"
                              class="btn border border-secondary rounded-pill px-3 text-primary"><i
                              class="fa fa-shopping-bag me-2 text-primary"></i>
                              Add to cart</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="tab-5" class="tab-pane fade show p-0">
              <div class="row g-4">
                <div class="col-lg-12">
                  <div class="row g-4">
                    <div class="col-md-6 col-lg-4 col-xl-3">
                      <div class="rounded position-relative fruite-item">
                        <div class="fruite-img">
                          <img src="img/fruite-item-3.jpg"
                            class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div
                          class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                          style="top: 10px; left: 10px;">Fruits</div>
                        <div
                          class="p-4 border border-secondary border-top-0 rounded-bottom">
                          <h4>Banana</h4>
                          <p>Lorem ipsum dolor sit amet consectetur
                            adipisicing elit sed do eiusmod te
                            incididunt</p>
                          <div
                            class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">$4.99
                              / kg</p>
                            <a href="#"
                              class="btn border border-secondary rounded-pill px-3 text-primary"><i
                              class="fa fa-shopping-bag me-2 text-primary"></i>
                              Add to cart</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                      <div class="rounded position-relative fruite-item">
                        <div class="fruite-img">
                          <img src="img/fruite-item-2.jpg"
                            class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div
                          class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                          style="top: 10px; left: 10px;">Fruits</div>
                        <div
                          class="p-4 border border-secondary border-top-0 rounded-bottom">
                          <h4>Raspberries</h4>
                          <p>Lorem ipsum dolor sit amet consectetur
                            adipisicing elit sed do eiusmod te
                            incididunt</p>
                          <div
                            class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">$4.99
                              / kg</p>
                            <a href="#"
                              class="btn border border-secondary rounded-pill px-3 text-primary"><i
                              class="fa fa-shopping-bag me-2 text-primary"></i>
                              Add to cart</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                      <div class="rounded position-relative fruite-item">
                        <div class="fruite-img">
                          <img src="img/fruite-item-1.jpg"
                            class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div
                          class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                          style="top: 10px; left: 10px;">Fruits</div>
                        <div
                          class="p-4 border border-secondary border-top-0 rounded-bottom">
                          <h4>Oranges</h4>
                          <p>Lorem ipsum dolor sit amet consectetur
                            adipisicing elit sed do eiusmod te
                            incididunt</p>
                          <div
                            class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">$4.99
                              / kg</p>
                            <a href="#"
                              class="btn border border-secondary rounded-pill px-3 text-primary"><i
                              class="fa fa-shopping-bag me-2 text-primary"></i>
                              Add to cart</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fruits Shop End-->
    <script>
    	function goPage(obj, url){
    		location.href=url + '?piNum=' + obj.getAttribute('data-pi-num');
    	}
    	function addCart(piNum){
    		$.ajax({
    			url : rootPath + 'carts',
    			method : 'POST',
    			data : JSON.stringify({piNum:piNum}),
    			contentType : 'application/json',
    			success : function(res){
    				$('#cartsCnt').text(res);
    				alert('정상적으로 장바구니에 담았습니다.');
    			},
    			error : function(err){
    				console.log(err);
    				alert('오류가 발생하였습니다.');
    			}
    		})
    	}
    </script>
  </th:block>
</body>
</html>