<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.furit.shop.mapper.CategoryMapper">
	<select id="selectCategoryList" resultType="com.furit.shop.vo.CategoryVO">
    SELECT CI.*,
    (SELECT COUNT(1) FROM PRODUCT_INFO PI WHERE PI.CI_NUM = CI.CI_NUM) CI_CNT
    FROM CATEGORY_INFO CI
  </select>
  <insert id="insertCategory">
    INSERT INTO CATEGORY_INFO(CI_NAME, CI_DESC)
    VALUES(#{ciName}, #{ciDesc})
  </insert>
  <update id="updateCategory">
    UPDATE CATEGORY_INFO
    SET CI_NAME=#{ciName},
    CI_DESC=#{ciDesc}
    WHERE CI_NUM=#{ciNum}
  </update>
  <delete id="deleteCategory">
    DELETE FROM CATEGORY_INFO WHERE CI_NUM=#{ciNum}
  </delete>
</mapper>