<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.furit.shop.mapper.ProductMapper">
	<select id="selectProductList" resultType="com.furit.shop.vo.ProductVO">
		select * from PRODUCT_INFO
	</select>
	<insert id="insertProduct">
		insert into PRODUCT_INFO(PI_NAME,PI_DESC,PI_PRICE,PI_UNIT,PI_IMG_PATH,PI_DESC2,CI_NUM)
		values(#{piName},#{piDesc},#{piPrice},#{piUnit},#{piImgPath},#{piDesc2},#{ciNum})
	</insert>
	<update id="updateProduct">
		update PRODUCT_INFO
		SET PI_NAME=#{piName},
		PI_DESC=#{piDesc},
		PI_PRICE = #{piPrice},
		PI_UNIT = #{piUnit},
		<if test = 'piImgPath != null and piImgPath !=""'>
		PI_IMG_PATH = #{piImgPath},
		</if>
		PI_DESC2=#{piDesc2},
		CI_NUM = #{CI_NUM}
		WHERE PI_NUM = #{piNum}
	</update>
	<delete id="deleteProduct">
	delete from PRODUCT_INFO WHERE PI_NUM = #{piNum}
	</delete>
</mapper>