<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.furit.shop.mapper.ProductMapper">
	<select id="selectProductList"
		resultType="com.furit.shop.vo.ProductVO">
		SELECT PI.*,CI.CI_NAME , IFNULL(PRI.PRI_RATE,0) as PRI_RATE
		FROM PRODUCT_INFO PI
		INNER JOIN CATEGORY_INFO CI
		ON PI.CI_NUM = CI.CI_NUM
		left outer join(select pi_num, round(avg(pri_rate)) as pri_rate from
		PRODUCT_REPLY_INFO
		group by pi_num) PRI
		on PI.PI_NUM = PRI.PI_NUM
		<where>
			<if test='ciNum != null and ciNum !=0'>
				AND PI.CI_NUM = #{ciNum}
			</if>
		</where>
		ORDER BY PI.PI_NUM DESC
		limit 8
	</select>
	<select id="selectProduct"
		resultType="com.furit.shop.vo.ProductVO">
		SELECT PI.*,CI.CI_NAME, IFNULL(PRI.PRI_RATE,0) as PRI_RATE
		FROM PRODUCT_INFO PI
		INNER JOIN
		CATEGORY_INFO CI
		ON PI.CI_NUM = CI.CI_NUM
		left outer join(select pi_num, round(avg(pri_rate)) as pri_rate from
		PRODUCT_REPLY_INFO
		group by pi_num) PRI
		on PI.PI_NUM = PRI.PI_NUM
		WHERE PI.PI_NUM = #{piNum}
	</select>
	<insert id="insertProduct">
		INSERT INTO PRODUCT_INFO(PI_NAME, PI_PRICE, PI_UNIT,
		PI_IMG_PATH, CI_NUM,
		PI_DESC, PI_DESC2)
		VALUES(#{piName}, #{piPrice},
		#{piUnit}, #{piImgPath}, #{ciNum},
		#{piDesc},#{piDesc2})
	</insert>
	<update id="updateProduct">
		UPDATE PRODUCT_INFO
		SET PI_NAME=#{piName},
		PI_PRICE=#{piPrice},
		PI_UNIT=#{piUnit},
		PI_DESC=#{piDesc},
		PI_DESC2=#{piDesc2},
		<if test='piImgPath != null and piImgPath !=""'>
			PI_IMG_PATH=#{piImgPath},
		</if>
		CI_NUM=#{ciNum}
		WHERE PI_NUM=#{piNum}
	</update>
	<delete id="deleteProduct">
		DELETE FROM PRODUCT_INFO WHERE PI_NUM=#{piNum}
	</delete>
</mapper>